<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mi primera plantilla</title>
</head>
<body>
    <h1 style="color: red">Hola alumnos estamos viendo nuestra primera plantilla Django</h1>
    <p>El nombre del alumnos es : {{nom_persona}} {{apel_persona}}</p>

    <p>La fecha de hoy : {{fecha.day}}/{{fecha.month}}/{{fecha.year}} y la hora es {{fecha.hour}}:{{fecha.minute}}</p>

    <p>
        <ul>
            {% if temas%}
                 {% for elTema in temas%}

                    <li>{{elTema}}</li>

                {% endfor%}
            {%else%}
                <p>No hay elementos que mostrar - Buenas Noches¡¡¡¡</p>
            {% endif%}
        </ul>

    </p>
</body>
</html>

